html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.map-container {
    background-image: url('bg_with_tree.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.footprint{
    width:80px;
    height:80px;
    position: absolute;
    background-image: url('stitch.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: footprint-walk 5s linear infinite;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto; /* Adjust width as needed, or use max-width */
    max-height: 90vh; /* Prevent modal from being too tall */
    overflow-y: auto; /* Enable scrolling inside modal */
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1000;
}

.modal-content {
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
}