.map-container {
    background-image: url('bg_with_tree.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.footprint{
    width:50px;
    height:50px;
    position: absolute;
    background-image: url('left_foot.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: footprint-walk 5s linear infinite;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }